.edit-textfield {
  width: 500px;
}

body {
  height: 100%;
  background-color: #f8c63c;
}

.create-main {
  display: flex;
  background-color: #f8c63c;
  margin: 0;
  height: 100%;
}

.tarjeta-create {
  margin: 2em;
  margin-bottom: 4em;
  background-color: white;
  min-width: 75vw;
  padding: 1.4em 1.8em;
  border-radius: 5px;
  box-shadow: 8px 12px #3e1c13;
}

.img-box-create {
  margin-top: 2rem;
  border: #808080 1px solid;
  width: auto;
  padding: 15px;
  border-radius: 5px;
  background-color: #f8c63c;
}
