.box {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  width: 50vh;
}

/* .all {
  height: 70vh;
} */

.box h1 {
  font-size: 100px;
  margin-bottom: -10px;
}
